/* ====================== All ====================== */
* {
    -fx-text-fill: #d8dee9;
}

/* ====================== Tabs ====================== */
TabPane {
    -fx-background-color: #2e3440;
}

.tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: #3b4252;
    -fx-text-fill: #d8dee9;
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
}

.tab:hover {
    -fx-background-color: #4C566A;
}

/* ====================== Buttons ====================== */
Button {
    -fx-background-color: #3B4252;
}

Button:hover {
    -fx-background-color: #4C566A;
}

/* ====================== Textfields/Labels ====================== */
TextField, PasswordField {
    -fx-background-color: #4C566A;
    -fx-text-fill: #D8DEE9;
}

#lblLoginStatus, #lblRegisterStatus{
    -fx-font-size: 14px;
}